.block {
    display: flex;
}

.canvas-block {
    margin-left: 40px;
    flex: 0 0 400px;
}

#frames {
  max-width: 250px;
}

.frame1 .el1 {
    background-color: yellow;
}

.frame1 {
    border: 2px solid black;
    margin: 10px;
    margin-right: 0;
}

.frameWrap {
    display: flex;
}

.delete-frame {
    background-color: green;
}

.frame-row {
    display: flex;
}

.el1, .el2, .el3, .el4, .el5, .el6, .el7, .el8, .el9 {
    flex: 0 0 auto;

    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 1px solid black;
}

#add-frame {
    margin: 20px;
}
